In [1]:
!pip install tmdbsimple
!pip install python-dateutil
import tmdbsimple as tmdb
import pandas as pd
import time
import datetime
from dateutil import parser
# Ryan's api key
tmdb.API_KEY = '081eaf8dc91b313437dda408f8b122a7'

Requirement already satisfied: tmdbsimple in /opt/conda/lib/python3.6/site-packages
Requirement already satisfied: requests in /opt/conda/lib/python3.6/site-packages (from tmdbsimple)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/lib/python3.6/site-packages (from requests->tmdbsimple)
Requirement already satisfied: idna<2.7,>=2.5 in /opt/conda/lib/python3.6/site-packages (from requests->tmdbsimple)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /opt/conda/lib/python3.6/site-packages (from requests->tmdbsimple)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.6/site-packages (from requests->tmdbsimple)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.6/site-packages
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil)

In [2]:
# example to write to file
#with open("output.tsv", "w") as f:
#    print ("\t%s\t%s\t%s\t%s\t%s\t%s\t%s" % ("movie", "rating", "release", "age_10", "age_6", "age_3", "age_1"), file=f)

def saveLine(index, movie, rating, release, age_10, age_6, age_3, age_1):
    with open("output.tsv", "a") as f:
        print ("%d\t%s\t%s\t%s\t%s\t%s\t%s\t%s" % (index, movie, rating, release, age_10, age_6, age_3, age_1), file=f)

In [3]:
pd.DataFrame.from_csv("output.tsv", sep='\t')

Empty DataFrame
Columns: [movie, rating, release, age_10, age_6, age_3, age_1]
Index: []

In [10]:
def getSingleAge(actID,release):
    person = tmdb.People(actID)
    try:
        bd = person.info().get('birthday')
        bd = parser.parse(bd)
        rl = parser.parse(release)
        delta = (rl - bd).days/365
        return round(delta,1)
    except:
        return -1

In [11]:
def getAges(actors,release,movieIndex,title,rating):
    age_10 = -1
    age_6 = -1
    age_3 = -1
    age_1 = -1
    ages = []
    
    q = len(actors)
    for x in range(q):
        time.sleep(2)
        
        try:
            c = getSingleAge(actors[x].get('id'),release)
            if(c > 1):
                ages.append(c)
        except:
            ages = ages
    if(len(ages) > 9):
        age_10 = sum(ages)/10
    if(len(ages) > 5):
        age_6 = sum(ages[:6])/6
    if(len(ages) > 2):
        age_3 = sum(ages[:3])/3
    if(len(ages) > 0):
        age_1 = ages[0]
    
    saveLine(movieIndex,title,rating, release, age_10, age_6, age_3, age_1)

In [14]:
movieIndex = 100

while(movieIndex < 1000):
    movie = tmdb.Movies(movieIndex)
    time.sleep(1.5)
    actors = []
    try:
        info = movie.info()
        title = info.get('title')
        votes = info.get('vote_count')
        print(votes)
        if((int(votes) > 200) and hasattr(movie,'credits')):
            print('working')
            release = info.get('release_date')
            actors = movie.credits().get('cast')
            rating = info.get('vote_average')
            if(len(actors) > 9):
                actors = actors[:10]
            elif(len(actors) > 5):
                actors = actors[:6]
            elif(len(actors) > 2):
                actors = actors[:3]
            elif(len(actors) > 0):
                actors = actors[:1]
                
    except:
        print("didnt cut")
        
    if(len(actors) > 0):
        getAges(actors,release,movieIndex,title,rating)

    print(movieIndex)
    movieIndex += 1

1747
working
100
4612
working
101
29
102
2879
working
103
709
working
104
6671
working
105
2271
working
106
3117
working
107
340
working
108
234
working
109
270
working
110
3234
working
111
34
112
262
working
113
1964
working
114
3255
working
115
1230
working
116
1535
working

KeyboardInterrupt:

In [15]:
pd.DataFrame.from_csv("output.tsv", sep='\t')

,movie,rating,release,age_10,age_6,age_3,age_1
5,Four Rooms,6.5,1995-12-09,32.81,35.183333,34.000000,34.6
11,Star Wars,8.1,1977-05-25,40.38,39.950000,27.066667,25.7
12,Finding Nemo,7.6,2003-05-30,44.63,40.850000,36.800000,55.9
13,Forrest Gump,8.3,1994-07-06,-1.00,33.450000,35.200000,38.0
14,American Beauty,7.9,1999-09-15,35.55,31.466667,33.000000,40.2
15,Citizen Kane,8.0,1941-04-30,35.89,36.516667,29.900000,26.0
16,Dancer in the Dark,7.7,2000-05-17,-1.00,48.166667,45.900000,34.5
18,The Fifth Element,7.3,1997-05-07,37.42,37.466667,49.033333,42.2
19,Metropolis,8.1,1927-01-10,-1.00,37.233333,37.966667,47.9
22,Pirates of the Caribbean: The Curse of the Bla...,7.5,2003-07-09,36.85,37.233333,39.533333,40.1
24,Kill Bill: Vol. 1,7.8,2003-10-10,43.29,43.916667,35.866667,33.5
25,Jarhead,6.6,2005-11-04,-1.00,34.400000,28.566667,37.9
28,Apocalypse Now,8.1,1979-08-15,40.89,37.950000,47.700000,39.1
33,Unforgiven,7.8,1992-08-07,-1.00,50.683333,60.000000,62.2
35,The Simpsons Movie,6.9,2007-07-25,51.97,51.083333,52.166667,49.8
38,Eternal Sunshine of the Spotless Mind,7.9,2004-03-19,-1.00,34.716667,30.866667,42.2
55,Amores perros,7.6,2000-06-16,-1.00,-1.000000,28.066667,21.6
58,Pirates of the Caribbean: Dead Man's Chest,7.0,2006-06-20,42.68,39.800000,31.266667,43.1
59,A History of Violence,7.0,2005-09-23,-1.00,47.050000,37.700000,47.0
62,2001: A Space Odyssey,7.9,1968-04-10,-1.00,42.366667,34.400000,31.9
63,Twelve Monkeys,7.4,1995-12-29,-1.00,40.633333,36.766667,40.8
64,Talk to Her,7.5,2002-03-14,-1.00,43.783333,33.400000,26.6
65,8 Mile,6.8,2002-11-08,28.17,30.716667,27.666667,30.1
66,Absolute Power,6.4,1997-02-14,49.09,51.833333,60.033333,66.8
68,Brazil,7.6,1985-02-20,45.66,45.450000,45.000000,37.8
69,Walk the Line,7.3,2005-09-13,-1.00,29.783333,29.233333,30.9
70,Million Dollar Baby,7.7,2004-12-15,40.26,43.433333,57.533333,74.6
71,Billy Elliot,7.4,2000-05-18,-1.00,38.950000,47.800000,14.2
73,American History X,8.2,1998-10-30,36.61,32.366667,32.500000,29.2
74,War of the Worlds,6.2,2005-06-28,-1.00,38.250000,30.666667,43.0
...,...,...,...,...,...,...,...
80,Before Sunset,7.6,2004-02-10,-1.00,47.716667,45.666667,33.3
81,Nausicaä of the Valley of the Wind,7.7,1984-03-11,-1.00,44.150000,45.533333,29.3
82,Miami Vice,5.7,2006-07-27,35.68,34.850000,36.466667,38.6
83,Open Water,5.3,2004-08-06,-1.00,-1.000000,-1.000000,37.6
85,Raiders of the Lost Ark,7.7,1981-06-12,-1.00,41.483333,35.666667,38.9
87,Indiana Jones and the Temple of Doom,7.1,1984-05-23,-1.00,39.866667,28.433333,41.9
88,Dirty Dancing,7.1,1987-08-21,-1.00,39.566667,38.100000,27.4
89,Indiana Jones and the Last Crusade,7.6,1989-05-24,48.59,49.083333,57.566667,46.9
90,Beverly Hills Cop,6.8,1984-11-29,36.07,35.866667,29.333333,23.7
93,Anatomy of a Murder,7.7,1959-07-01,39.78,38.616667,34.533333,51.1
95,Armageddon,6.5,1998-07-01,37.45,36.300000,37.366667,43.3
96,Beverly Hills Cop II,6.1,1987-05-18,39.87,38.350000,31.800000,26.1
97,Tron,6.6,1982-07-09,-1.00,37.716667,35.266667,32.6
98,Gladiator,7.9,2000-05-01,47.76,48.333333,32.166667,36.1
99,All About My Mother,7.4,1999-04-19,-1.00,37.433333,39.600000,40.7
100,"Lock, Stock and Two Smoking Barrels",7.5,1998-03-05,37.23,33.683333,30.600000,31.5
101,Leon: The Professional,8.2,1994-09-14,-1.00,38.666667,32.000000,46.2
103,Taxi Driver,8.1,1976-02-07,-1.00,32.533333,31.766667,32.5
104,Run Lola Run,7.2,1998-08-20,35.00,35.533333,31.166667,24.1
105,Back to the Future,8.1,1985-07-03,30.26,26.883333,31.633333,24.1
106,Predator,7.3,1987-06-11,39.56,38.683333,35.166667,39.9
107,Snatch,7.7,2000-09-01,-1.00,41.616667,41.933333,33.6
108,Three Colors: Blue,7.7,1993-01-10,-1.00,37.100000,31.633333,28.9
109,Three Colors: White,7.4,1994-01-26,-1.00,47.416667,37.033333,32.6
110,Three Colors: Red,7.9,1994-05-27,-1.00,34.583333,40.000000,27.9
111,Scarface,8.0,1983-12-08,38.86,37.100000,32.066667,43.6
113,"Spring, Summer, Fall, Winter... and Spring",7.6,2003-09-19,-1.00,-1.000000,44.566667,42.8
114,Pretty Woman,7.0,1990-03-23,40.82,44.850000,49.600000,22.4
115,The Big Lebowski,7.8,1998-03-06,45.42,44.950000,43.766667,48.3
116,Match Point,7.3,2005-10-26,41.38,40.450000,27.700000,28.3

In [9]:
m = tmdb.Movies(19).credits().get('cast')
m

[{'cast_id': 28,
  'character': "Johann 'Joh' Fredersen",
  'credit_id': '52fe420fc3a36847f8000cdb',
  'gender': 2,
  'id': 73,
  'name': 'Alfred Abel',
  'order': 0,
  'profile_path': '/ci8PjtUFW1kuOXyhSSaGD1jyX50.jpg'},
 {'cast_id': 9,
  'character': 'Freder Fredersen',
  'credit_id': '52fe420fc3a36847f8000c83',
  'gender': 2,
  'id': 74,
  'name': 'Gustav Fröhlich',
  'order': 1,
  'profile_path': '/4BOW6x0pDkXgRt8IbNZZjRHo7bX.jpg'},
 {'cast_id': 11,
  'character': 'C.A. Rotwang, the inventor',
  'credit_id': '52fe420fc3a36847f8000c8b',
  'gender': 2,
  'id': 77,
  'name': 'Rudolf Klein-Rogge',
  'order': 2,
  'profile_path': '/fbP75fGfXFQlkf3Q5oHbJ4wjG1g.jpg'},
 {'cast_id': 12,
  'character': 'The Thin Man',
  'credit_id': '52fe420fc3a36847f8000c8f',
  'gender': 2,
  'id': 78,
  'name': 'Fritz Rasp',
  'order': 3,
  'profile_path': '/aOP2oF7HClXD2Is2RNKpQiOvEOw.jpg'},
 {'cast_id': 13,
  'character': 'Josaphat',
  'credit_id': '52fe420fc3a36847f8000c93',
  'gender': 2,
  'id': 79,
  'name': 'Theodor Loos',
  'order': 4,
  'profile_path': '/sM9LUZC3U5jfWyrAattpX1VlmAQ.jpg'},
 {'cast_id': 14,
  'character': 'No. 11811 - Georgy',
  'credit_id': '52fe420fc3a36847f8000c97',
  'gender': 2,
  'id': 80,
  'name': 'Erwin Biswanger',
  'order': 5,
  'profile_path': '/zA8s8QWoQg9ftPqUddcl8GfkCDF.jpg'},
 {'cast_id': 15,
  'character': 'Grot',
  'credit_id': '52fe420fc3a36847f8000c9b',
  'gender': 2,
  'id': 81,
  'name': 'Heinrich George',
  'order': 6,
  'profile_path': '/gAfj9ZgmEtB0im4UHr13HWEKEAO.jpg'},
 {'cast_id': 10,
  'character': 'Maria',
  'credit_id': '52fe420fc3a36847f8000c87',
  'gender': 1,
  'id': 75,
  'name': 'Brigitte Helm',
  'order': 7,
  'profile_path': '/rfptoGixSQspXlUFOD2QFQ7Cka2.jpg'},
 {'cast_id': 16,
  'character': 'Jan',
  'credit_id': '52fe420fc3a36847f8000c9f',
  'gender': 2,
  'id': 82,
  'name': 'Olaf Storm',
  'order': 8,
  'profile_path': '/rQM9B9J41vFHW3r1CkKGY1909Ql.jpg'},
 {'cast_id': 19,
  'character': 'Arbeiterfrau',
  'credit_id': '52fe420fc3a36847f8000cad',
  'gender': 2,
  'id': 2350,
  'name': 'Helene Weigel',
  'order': 9,
  'profile_path': '/tg2F8zZQjsDaXIEuu03abfJFyCC.jpg'},
 {'cast_id': 21,
  'character': 'Lady in Car / Woman of Eternal Gardens',
  'credit_id': '52fe420fc3a36847f8000cb5',
  'gender': 1,
  'id': 20534,
  'name': 'Margarete Lanner',
  'order': 10,
  'profile_path': '/3KvegcfRzEeU36TfQcMAtzaqhwW.jpg'},
 {'cast_id': 17,
  'character': 'Marinus',
  'credit_id': '52fe420fc3a36847f8000ca3',
  'gender': 0,
  'id': 83,
  'name': 'Hanns Leo Reich',
  'order': 11,
  'profile_path': None},
 {'cast_id': 22,
  'character': 'Creative Human',
  'credit_id': '52fe420fc3a36847f8000cb9',
  'gender': 0,
  'id': 20535,
  'name': 'Fritz Alberti',
  'order': 12,
  'profile_path': None},
 {'cast_id': 20,
  'character': 'Master of Ceremonies',
  'credit_id': '52fe420fc3a36847f8000cb1',
  'gender': 2,
  'id': 20533,
  'name': 'Heinrich Gotho',
  'order': 13,
  'profile_path': None},
 {'cast_id': 30,
  'character': 'Working Woman (uncredited)',
  'credit_id': '56b2a655c3a36806ee000328',
  'gender': 1,
  'id': 47173,
  'name': 'Grete Berger',
  'order': 14,
  'profile_path': '/sOfH9fyA5PHVFHsxrriAavAOZGo.jpg'},
 {'cast_id': 33,
  'character': 'Working Man (uncredited)',
  'credit_id': '56b2a7d9c3a36806f80002f8',
  'gender': 2,
  'id': 5028,
  'name': 'Curt Siodmak',
  'order': 15,
  'profile_path': '/pJTXFWsOB5MX5umPBgyD3qrxZ6U.jpg'},
 {'cast_id': 34,
  'character': 'Son in Eternal Gardens (uncredited)',
  'credit_id': '56b2a80f92514114eb00033e',
  'gender': 0,
  'id': 50893,
  'name': 'Rolf von Goth',
  'order': 16,
  'profile_path': '/zYHylsvCJh0rCUM9pEPxnijebP7.jpg'},
 {'cast_id': 35,
  'character': 'Woman of Eternal Gardens (uncredited)',
  'credit_id': '56b2a83d92514114e800033a',
  'gender': 1,
  'id': 1288145,
  'name': 'Helen von Münchofen',
  'order': 17,
  'profile_path': '/yq3703BVaUCKhJN2SDX4D0hqQLY.jpg'},
 {'cast_id': 31,
  'character': 'Working Man Who Causes Explosion of M-Machine (uncredited)',
  'credit_id': '56b2a75f92514114e8000311',
  'gender': 0,
  'id': 29129,
  'name': 'Georg John',
  'order': 18,
  'profile_path': None},
 {'cast_id': 36,
  'character': 'Working Man (uncredited)',
  'credit_id': '56b2a89c92514114e5000363',
  'gender': 0,
  'id': 1531781,
  'name': 'Arthur Reinhardt',
  'order': 19,
  'profile_path': None},
 {'cast_id': 44,
  'character': 'Working Woman (uncredited)',
  'credit_id': '57f54434c3a36831cb00017e',
  'gender': 0,
  'id': 1689706,
  'name': 'Henrietta Siodmak',
  'order': 20,
  'profile_path': None}]